body {
  font-family: Arial, sans-serif;
  margin: 8px;
  padding: 8px;
  overflow-y: scroll;
}


body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(0, 131, 188);
  border-radius: 6px;
}

body::-webkit-scrollbar-track {
  background-color: #cfcfcf;
}

header {
  color: black;
  padding-left: 20px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position:relative;
  width: 100%;
  top: 0;
  z-index: 1000;
  box-sizing: border-box;
  width: 100%;
}


nav {
  display:inline-flex;
  gap: 45px;
}

nav a {
  color: black;
  text-decoration: none;
  font-family: Stencil Std, fantas ,sans-serif ;
  font-weight: bold;
}

.navb:hover{
  color: #007bff;
  text-decoration: none;
}


.btn-primary:hover, .btn-danger:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}




.job-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.job-card:hover {
  cursor: pointer;
}

a.job-card {
  text-decoration: none;
  color: inherit; 

}

a.job-card:hover {
  
  color: rgb(0, 131, 188); 
}



#scrollToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgb(0, 131, 188);
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}



.section1{
  margin-top: 100px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 100px;
  padding-top:45px ;
  padding-bottom: 45px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: rgb(248, 248, 248,0.9) ;
  border-right:rgb(0, 131, 188) solid 4px ;
  border-top:rgb(0, 131, 188) solid 4px ;
  border-radius: 45px;
  
}

.section1 h6{
  color: #cfcfcf;
}


.section2{
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  padding-top:5px ;
  padding-bottom: 5px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 45px;
  border-left:rgb(0, 131, 188) solid 4px ;
  border-top:rgb(0, 131, 188) solid 4px ;
  
}